Repository mesosphere/dcos-commons, pull requests merged in 2018-04, with the labels that each got.

#2437 [INFINITY-3367] Skip kafka security toggle test
  frameworks/kafka/tests/test_toggle_security.py
Labels: ready for review, tests

#2427 Add updating md
  Dockerfile
  tools/distribution/UPDATING.md
  tools/distribution/init
Labels: ready for review

#2455 Use region picker for all services (#2448)
  frameworks/cassandra/universe/config.json
  frameworks/elastic/universe/config.json
  frameworks/hdfs/universe/config.json
  frameworks/helloworld/universe/config.json
  frameworks/kafka/universe/config.json
Labels: backport

#2454 Add updating md (#2427)
  Dockerfile
  tools/distribution/UPDATING.md
  tools/distribution/init
Labels: backport, ready for review, tools

#2451 Add variant info to DcosVersion object
  sdk/scheduler/src/main/java/com/mesosphere/sdk/dcos/DcosVersion.java
  sdk/scheduler/src/test/java/com/mesosphere/sdk/config/validate/DomainCapabilityValidatorTest.java
  sdk/scheduler/src/test/java/com/mesosphere/sdk/dcos/CapabilitiesTest.java
  sdk/scheduler/src/test/java/com/mesosphere/sdk/dcos/DcosVersionTest.java
  sdk/scheduler/src/test/java/com/mesosphere/sdk/scheduler/DefaultSchedulerTest.java
Labels: ready for review

#2483 [INFINITY-3520] Make Kafka ciphers configurable and have a secure default.
  frameworks/kafka/src/main/dist/server.properties.mustache
  frameworks/kafka/tests/test_tls.py
  frameworks/kafka/universe/config.json
  frameworks/kafka/universe/marathon.json.mustache
  testing/sdk_security.py
  testing/sdk_utils.py
  testing/security/cipher_suites.py
Labels: kafka, ready for review, security

#2487 [INFINITY-3520][BACKPORT] Make Kafka ciphers configurable and have a secure default. (#2483)
  frameworks/kafka/src/main/dist/server.properties.mustache
  frameworks/kafka/tests/test_tls.py
  frameworks/kafka/universe/config.json
  frameworks/kafka/universe/marathon.json.mustache
  testing/sdk_security.py
  testing/sdk_utils.py
  testing/security/cipher_suites.py
Labels: backport, kafka, ready for review, security
