Repository mesosphere/dcos-commons, pull requests merged in 2018-06, with the labels that each got.

#2515 [DCOS-37792] Configurable disk_failure_policy.
  frameworks/cassandra/src/main/dist/cassandra.yaml
  frameworks/cassandra/universe/config.json
  frameworks/cassandra/universe/marathon.json.mustache
Labels: cassandra, ready for review

#2518 [DCOS-37811] Fix Kafka cipher test flakes
  frameworks/kafka/tests/test_tls.py
  testing/security/cipher_suites.py
Labels: ready for review, security, tests

#2519 [DCOS-37718] fix sdk security
  frameworks/kafka/tests/test_sanity.py
  frameworks/kafka/tests/test_zookeeper.py
  frameworks/kafka/tests/test_zookeeper_auth.py
  frameworks/kafka/tests/test_zookeeper_authz.py
  frameworks/template/tests/config.py
  frameworks/template/tests/conftest.py
  testing/sdk_auth.py
  testing/sdk_cmd.py
  testing/sdk_security.py
  testing/security/transport_encryption.py
Labels: ready for review

#2527 Add strict checking to svc yml tests
  sdk/scheduler/src/main/java/com/mesosphere/sdk/specification/yaml/RawServiceSpec.java
  sdk/testing/src/main/java/com/mesosphere/sdk/testing/ServiceTestRunner.java
  tools/universe/package_manager.py
Labels: ready for review

#2400 [ELASTIC-172][BACKPORT] Add test that verifies that Kibana works against an ES cluster with TLS.
  frameworks/elastic/tests/config.py
  frameworks/elastic/tests/test_overlay.py
  frameworks/elastic/tests/test_sanity.py
  frameworks/elastic/tests/test_tls.py
  frameworks/hdfs/tests/test_tls.py
Labels: backport, security, tests

#2535 [BACKPORT][DCOS_OSS-3555] Make sure MESOS_CONTAINER_IP is set before running helper (#2510)
  frameworks/kafka/src/main/dist/svc.yml
Labels: backport, ready for review

#2529 [BACKPORT][TESTS][TOOLS] Add strict rendering checks to svc.yml tests
  frameworks/cassandra/universe/marathon.json.mustache
  frameworks/helloworld/src/test/java/com/mesosphere/sdk/helloworld/scheduler/ServiceTest.java
  sdk/scheduler/src/main/java/com/mesosphere/sdk/specification/yaml/RawServiceSpec.java
  sdk/testing/src/main/java/com/mesosphere/sdk/testing/ServiceTestRunner.java
Labels: backport, ready for review

#2544 [DCOS-38469] Call suppress again on receiving an offer when we are suppressed
  sdk/scheduler/src/main/java/com/mesosphere/sdk/framework/ReviveManager.java
  sdk/scheduler/src/test/java/com/mesosphere/sdk/framework/ReviveManagerTest.java
Labels: ready for review

#2547 [DCOS-37832][BACKPORT] Update Elastic to 5.6.9
  frameworks/elastic/src/main/dist/install-plugins.sh
  frameworks/elastic/src/main/dist/svc.yml
  frameworks/elastic/src/test/java/com/mesosphere/sdk/elastic/scheduler/ServiceTest.java
  frameworks/elastic/tests/config.py
  frameworks/elastic/universe-kibana/marathon.json.mustache
  frameworks/elastic/universe/marathon.json.mustache
  frameworks/elastic/universe/resource.json
  frameworks/elastic/versions.sh
Labels: backport, elastic, ready for review

#2551 [DCOS-38379] Correctly check for a relaunched scheduler task
  frameworks/helloworld/tests/test_multiservice_dynamic.py
Labels: tests
