Repository mesosphere/dcos-commons, pull requests merged in 2019-04, with the labels that each got.

#2976 DCOS-48854: Upgrade Elastic base-tech to 6.6.1.
  frameworks/cassandra/tests/test_racks.py
  frameworks/cassandra/tests/test_sanity.py
  frameworks/elastic/tests/config.py
  frameworks/elastic/tests/test_sanity.py
  frameworks/elastic/tests/test_tls.py
  frameworks/elastic/tests/test_upgrade.py
  frameworks/elastic/universe-kibana/marathon.json.mustache
  frameworks/elastic/versions.sh
  frameworks/hdfs/tests/test_sanity.py
  frameworks/helloworld/tests/test_decommission.py
  frameworks/helloworld/tests/test_mono_to_multi_migrate.py
  frameworks/helloworld/tests/test_sanity.py
  frameworks/helloworld/tests/test_sidecar.py
  testing/sdk_service.py
  testing/sdk_upgrade.py
Labels: elastic, ready for review

#2975 [DCOS-32648] Fixed JVM duplicate heap flags issue
  frameworks/elastic/src/main/dist/jvm.options
  frameworks/elastic/src/main/dist/svc.yml
  frameworks/elastic/tests/test_custom_options.py
Labels: elastic

#2999 [DCOS-32723] Made search_remote_connect default to false
  frameworks/elastic/universe/config.json
Labels: elastic

#2992 Add type hints for cassandra framework
  frameworks/cassandra/tests/config.py
  frameworks/cassandra/tests/conftest.py
  frameworks/cassandra/tests/nodetool.py
  frameworks/cassandra/tests/test_backup_and_restore.py
  frameworks/cassandra/tests/test_nodetool.py
  frameworks/cassandra/tests/test_overlay.py
  frameworks/cassandra/tests/test_racks.py
  frameworks/cassandra/tests/test_sanity.py
  frameworks/cassandra/tests/test_tls.py
  frameworks/cassandra/tests/test_toggle_tls.py
  frameworks/cassandra/tests/test_zzzrecovery.py
Labels: ready for review

#3004 [DCOS-51458] Add all necessary dependencies for new pygobject package.
  Dockerfile.base
Labels: ready for review

#3002 [DCOS-51458] Update both pygobject and base image.
  Dockerfile
  frozen_requirements.txt
Labels: ready for review
